{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    <form class = "d-flex" method = POST  action = "{% url 'search:search-ex' %}" > 
        {% csrf_token %}
        <input class = "form-control me-2" type = "search" placeholder = "Search" aria-label="Search" name = "searched">
        <button class = "btn btn-outline-secondary" type = "submit">Search</button>
    </form>
{% else %}
    <p>No polls are available.</p>


{% endif %}